<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if @show_merge %>
	<h3> <%= _("Merge Articles") %> </h3>
	<%= form_tag(form_action.merge :action => 'merge') do %>
	  <%= label_tag :article_id, "Article ID" %>
	  <%= text_field_tag :merge_with %> <br>
	  <%= submit_tag("Merge With This Article") %>
	<% end %>
<% end %>
